/*----- CSS Reset -----*/

*{
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 1em;
}

/*----- MAIN STYLING -----*/
body {
  width: 100%;
  max-width: 800px;
  margin: auto;
  background: #FFFFFF;
  color: #fdfdfd;
}

block{
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

 content {
  position: absolute;
  bottom: 0;
  background: #FFFFFF
  color: #FFFFFF
  width: 100%
  padding: 20px
}



  /*----- TYPOGRAPHY  -----*/
    h1, h2 {
      font-weight: bolder;
      color: #EB6800;
      text-align: center;
    }

    P {
      color: #000000

    }

    p, blockquote {
      margin-bottom: 1.5em;
      font-family: 'Roboto', sans-serif;
      spacing
    }

    i {
      color: #EB6800
    }

    h1 {
      font-size: 121.50px;
      margin-top: 1em;
      margin-bottom: 0.1em;
      font-family: 'East Sea Dokdo', cursive;
    }

    h2 {
      font-size: 1.999em;
      margin: 3em 0 1em 0;

    }

    h3 {
      color: #EB6800;
    }

    blockquote {
      color: #F77C16;
      hanging-punctuation: first;
      text-indent: -0.44em;
    }

    blockquote cite {
      font-size: 0.75em;
      color: #A4A6AB;
    }

    header h2 {
      font-style: italic;
      margin-top: 0;
      margin-bottom: 1.5em;
    }

    header p {
      font-size: 1.41em;
      text-align: center;
    }

    /*----- STYLING LINKS -----*/
    a {
      color: #008080;
      text-decoration: none;
    }

    a:hover {
      color: #008080;
      border-bottom: 1px dotted;
    }

    /*----- NAVIGATION -----*/
    nav {
      position: relative;
      top: 0.5em;
      left: 0;
      right: 0;
      margin: ;
      width: 100%;
      background-color: #EB6800;
      padding: 1.5em 0;
      font-size: 0.75em;
}

    nav ul {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
}

    nav ul li {
      display: inline;
      margin: 20px;
      background: none;
}

    nav a:link {
     color: #333333;
}

   nav a:visited {
     color: #666661;
   }

   /*-----IMAGE-----*/
   img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
   }

   backArrow {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 30%;
   }

   /*----- FOOTER-----*/
footer {
  text-align: center;
  font-size: 0.707em;
  padding: 4em 0 8em 0;
  color: #000000
}
